// app global css in SCSS form
@import 'src/css/rubik-font.scss';
@import 'src/css/mermaid.scss';

// Font & Text
@font-face {
  font-family: Soleil;
  src: url('assets/fonts/SoleilRegular.otf');
}

.font-soleil {
  font-family: Soleil;
  color: $off-black;
}

// https://quasar.dev/style/color-palette#adding-your-own-colors
.text-off-black {
  color: $off-black !important;
}

.text-burnt {
  color: #a47718 !important;
}

// Background
.bg-off-black {
  background: $off-black !important;
}

.toolbar-background {
  background-color: $burnt-dark;
}

.page-background {
  background-color: $burnt;
}

.card-background {
  background-color: $burnt-light;
}

.box-border {
  border: #8f6c40;
  border-style: dashed;
  border-width: 7px;
}

.box-container {
  padding: 20px;
}
