// app global css in SCSS form

@font-face {
  font-family: Soleil;
  src: url('assets/fonts/SoleilRegular.otf');
}

.font-soleil {
  font-family: Soleil;
  color: $off-black;
}

// https://quasar.dev/style/color-palette#adding-your-own-colors
.text-off-black {
  color: $off-black !important;
}

.text-burnt {
  color: #a47718 !important;
}

.bg-off-black {
  background: $off-black !important;
}

.toolbar-background {
  background-color: #8f6c40;
}

.page-background {
  background-color: #fff1d1;
}

.card-background {
  background-color: #fbf1dc;
}
